{% extends "index.html" %} {% block content %}

<body>
    <div class="be-wrapper">
        <nav class="navbar navbar-expand fixed-top be-top-header">
            <div class="container-fluid">
                <div class="container-fluid">
                    <a href="/" class="navbar-brand"></a>
                </div>
                <div class="be-right-navbar">
                    <!-- header -->
                    {% include 'header.html' %}
                    <!-- sidebar -->
                    {% include 'sidenav.html' %}
                </div>
            </div>
        </nav>
        <!-- Main container -->
        <div class="be-content">
            <div class="main-content container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="card">
                            <div class="card-header">Most recent Document updates</div>
                            <div class="card-body">
                                <ul class="user-timeline user-timeline-compact">
                                    {% for n in recentdocs %}
                                    <li>
                                    <div class="user-timeline-date">{{n.pub_update}}</div>
                                    <div class="user-timeline-title">{{n.doc_name}}</div>
                                    <div class="user-timeline-description">{{n.title_line_1}} {{n.title_line_2}} {{n.title_line_3}} {{n.title_line_4}} Revision:{{n.revision}}</div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{{url_for('static', filename='lib/jquery/jquery.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='lib/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='lib/bootstrap/dist/js/bootstrap.bundle.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/app.js')}}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            //initialize the javascript
            App.init();
        });
    </script>
</body>
{% endblock %}