{% extends "index.html" %} {% block content %}

<body>
    <div class="be-wrapper">
        <nav class="navbar navbar-expand fixed-top be-top-header">
            <div class="container-fluid">
                <div class="container-fluid">
                    <a href="/" class="navbar-brand"></a>
                </div>
                <div class="be-right-navbar">
                    <!-- header -->
                    {% include 'header.html' %}
                    <!-- sidebar -->
                    {% include 'sidenav.html' %}
                </div>
            </div>
        </nav>
        <!-- Main container -->
        <div class="be-content">
            <div class="main-content container-fluid">
                <div class="row">
                    <div class="col-12">

                        <ul class="timeline timeline-variant">
                            <li class="timeline-month">
                                <span>Recent Documents</span>
                            </li>
                            {% for docs in recent_docs %}
                                {% if loop.index is divisibleby 2 %}
                                    <li class="timeline-item right">
                                        <div class="timeline-content timeline-type file">
                                            <div class="timeline-icon">
                                                    <i class="icon mdi mdi-file"></i>
                                                </div>
                                                <div class="timeline-avatar">
                                                    <img src="assets/img/avatar6.png" alt="Avatar" class="circle">
                                                </div>
                                                <div class="timeline-header">
                                                    <span class="timeline-autor">User</span>
                                                    <p class="timeline-activity">{{docs.doc_title}}
                                                <span class="timeline-time">{{docs.pub_update}}</span>
                                            </div>
                                            <div class="timeline-summary">
                                                    <p>{{docs.doc_summary}}</p>
                                                </div>
                                        </div>
                                    </li>
                                {% else %}
                                    <li class="timeline-item timeline-item-detailed left">
                                        <div class="timeline-content timeline-type comment">
                                            <div class="timeline-icon">
                                                <i class="icon mdi mdi-comment-text-alt"></i>
                                            </div>
                                            <div class="timeline-avatar">
                                                <img src="assets/img/avatar.png" alt="Avatar" class="circle">
                                            </div>                                            
                                            <div class="timeline-header">
                                                <span class="icon mdi mdi-edit"></span>
                                                <span class="timeline-autor">User</span>
                                                <p class="timeline-activity">{{docs.doc_title}}</p>                                                                                               
                                                <span class="timeline-time">{{docs.pub_update}}</span>                                                
                                            </div>
                                            <div class="timeline-summary">
                                                <p>{{docs.doc_summary}} </p>
                                            </div>
                                        </div>
                                    </li>
                                {% endif %}

                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{{url_for('static', filename='lib/jquery/jquery.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='lib/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='lib/bootstrap/dist/js/bootstrap.bundle.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/app.js')}}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            //initialize the javascript
            App.init();
        });
    </script>
</body>
{% endblock %}