<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Documents</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/perfect-scrollbar/css/perfect-scrollbar.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/material-design-icons/css/material-design-iconic-font.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/datatables/datatables.net-bs4/css/dataTables.bootstrap4.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/summernote/summernote-bs4.css') }}">
</head>

<body>
    <div class="be-wrapper">
        <nav class="navbar navbar-expand fixed-top be-top-header">
            <div class="container-fluid">
                <div class="container-fluid">
                    <a href="/" class="navbar-brand"></a>
                </div>
                <div class="be-right-navbar">
                    <!-- header -->
                    {% include 'header.html' %}
                    <!-- sidebar -->
                    {% include 'sidenav.html' %}
                </div>
            </div>
        </nav>
        <!-- Main container -->
        <div class="be-content">
            <div class="main-content container-fluid">
                <!--Summernote-->
                <div class="row">
                    <!-- flash msg -->
                    <div class="col-sm-12">
                        <div class=flashes>
                            {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
                            {% if category == 'message' %}
                            <div role="alert" class="alert alert-success alert-icon alert-icon-border alert-dismissible">
                                <div class="icon">
                                    <span class="mdi mdi-check"></span>
                                </div>
                                <div class="message">
                                    <button type="button" data-dismiss="alert" aria-label="Close" class="close">
                                        <span aria-hidden="true" class="mdi mdi-close"></span>
                                    </button>
                                    {% else %}
                                    <!-- if error or warning clauses -->
                                    <div class="alert alert-{{ category }} alert-dismissible" role="alert"></div>
                                    {% endif %} {{ message }}
                                </div>
                            </div>
                            {% endfor %} {% endif %} {% endwith %}
                        </div>
                    </div>
                    <!--  -->
                    <div class="col-md-12">
                        <form method="POST">
                            <div class="card card-border-color card-border-color-primary">

                                <div class="card-header card-header-divider">
                                        
                                    <div class="form-group row">
                                            <label for="inputText3" class="col-12 col-sm-3 col-form-label text-sm-right">Title</label>
                                        <div class="col-12 col-sm-8 col-lg-6">
                                            <input id="titleInput" type="text" class="form-control" name="newtitle" maxlength="25">
                                        </div>
                                    </div>

                                </div>
                                <div class="card-body">

                                    <div class="form-group row">
                                        <label for="inputText3" class="col-12 col-sm-3 col-form-label text-sm-right">Summary</label>
                                        <div class="col-12 col-sm-8 col-lg-6">
                                            <input id="inputText3" type="text" class="form-control" name="newsummary" maxlength="50">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="inputText3" class="col-12 col-sm-3 col-form-label text-sm-right">Contents</label>
                                        <div class="col-12 col-sm-8 col-lg-6">
                                            <textarea id="inputTextarea3" class="form-control" name="newtext"></textarea>
                                        </div>
                                    </div>

                                </div>
                                <div class="row pt-3">
                                    <div class="col-lg-6 pb-4 pb-lg-0">
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="text-right">
                                            <button type="submit" class="btn btn-space btn-primary">Submit</button>
                                            <button class="btn btn-space btn-secondary">Cancel</button>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /main_content -->
    </div>
    <script type="text/javascript" src="{{url_for('static', filename='lib/jquery/jquery.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='lib/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='lib/bootstrap/dist/js/bootstrap.bundle.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/app.js')}}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            //initialize the javascript
            App.init();
            setTimeout(function () {
                $("div.flashes").remove();
            }, 1000); // 1 seconds
        });
    </script>
</body>

</html>