{% extends "drawinglistindex.html" %} {% block content %}

<body>
    <div class="be-wrapper">
        <nav class="navbar navbar-expand fixed-top be-top-header">
            <div class="container-fluid">
                <div class="container-fluid">
                    <a href="/" class="navbar-brand"></a>
                </div>
                <div class="be-right-navbar">
                    <!-- header -->
                    {% include 'header.html' %}
                    <!-- sidebar -->
                    {% include 'sidenav.html' %}
                </div>
            </div>
        </nav>
        <!-- Main container -->
        <div class="be-content">
            <div class="main-content container-fluid">
                <div class="row">
                    <!-- flash msg -->
                    <div class="col-sm-12">
                        <div class=flashes>
                            {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
                            {% if category == 'message' %}
                            <div role="alert" class="alert alert-success alert-icon alert-icon-border alert-dismissible">
                                <div class="icon">
                                    <span class="mdi mdi-check"></span>
                                </div>
                                <div class="message">
                                    <button type="button" data-dismiss="alert" aria-label="Close" class="close">
                                        <span aria-hidden="true" class="mdi mdi-close"></span>
                                    </button>
                                    {% else %}
                                    <!-- if error or warning clauses -->
                                    <div class="alert alert-{{ category }} alert-dismissible" role="alert"></div>
                                    {% endif %} {{ message }}
                                </div>
                            </div>
                            {% endfor %} {% endif %} {% endwith %}
                        </div>
                    </div>
                    <!--  -->
                    <div class="col-md-12">
                        <div class="card card-border-color card-border-color-primary">
                            <div class="card-header card-header-divider">Add new documents
                                <span class="card-subtitle">Blah blah more text</span>
                            </div>
                            <div class="card-body">
                                <form method="POST">
                                    <div class="form-group row">
                                        <label for="inputText3" class="col-12 col-sm-3 col-form-label text-sm-right">Project</label>
                                        <div class="col-12 col-sm-8 col-lg-6">
                                            <input id="inputText3" type="text" class="form-control" name="newproj">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputText3" class="col-12 col-sm-3 col-form-label text-sm-right">Document</label>
                                        <div class="col-12 col-sm-8 col-lg-6">
                                            <input id="inputText3" type="text" class="form-control" name="newdoc">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputText3" class="col-12 col-sm-3 col-form-label text-sm-right">Rev</label>
                                        <div class="col-12 col-sm-8 col-lg-6">
                                            <input id="inputText3" type="text" class="form-control" name="rev">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputText3" class="col-12 col-sm-3 col-form-label text-sm-right">Title Line 1</label>
                                        <div class="col-12 col-sm-8 col-lg-6">
                                            <input id="inputText3" type="text" class="form-control" name="tl1">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputText3" class="col-12 col-sm-3 col-form-label text-sm-right">Title Line 2</label>
                                        <div class="col-12 col-sm-8 col-lg-6">
                                            <input id="inputText3" type="text" class="form-control" name="tl2">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputText3" class="col-12 col-sm-3 col-form-label text-sm-right">Title Line 3</label>
                                        <div class="col-12 col-sm-8 col-lg-6">
                                            <input id="inputText3" type="text" class="form-control" name="tl3">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputText3" class="col-12 col-sm-3 col-form-label text-sm-right">Title Line 4</label>
                                        <div class="col-12 col-sm-8 col-lg-6">
                                            <input id="inputText3" type="text" class="form-control" name="tl4">
                                        </div>
                                    </div>
                                    <div class="row pt-3">
                                        <div class="col-lg-6 pb-4 pb-lg-0">
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="text-right">
                                                <button type="submit" class="btn btn-space btn-primary">Submit</button>
                                                <button class="btn btn-space btn-secondary">Cancel</button>
                                            </p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /main_content -->
    </div>
    <script type="text/javascript" src="{{url_for('static', filename='lib/jquery/jquery.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='lib/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='lib/bootstrap/dist/js/bootstrap.bundle.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/app.js')}}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            //initialize the javascript
            App.init();
            setTimeout(function(){
                $("div.flashes").remove();
            }, 1000); // 1 seconds
        });
    </script>
</body>
{% endblock %}