<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Title</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/material-design-icons/css/material-design-iconic-font.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/perfect-scrollbar/css/perfect-scrollbar.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>


<body class="be-splash-screen">
  <div class="be-wrapper be-error be-error-404">
    <div class="be-content">
      <div class="main-content container-fluid">
        <div class="error-container">
          <div class="error-number">404</div>
          <div class="error-description">The page you are looking for might have been removed.</div>
          <div class="error-goback-text">Would you like to go home?</div>
          <div class="error-goback-button">
            <a href="/" class="btn btn-xl btn-primary">Let's go home</a>
          </div>
          <div class="footer">&copy; 2018 Company X</div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="{{url_for('static', filename='lib/jquery/jquery.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='lib/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/main.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='lib/bootstrap/dist/js/bootstrap.min.js')}}"></script>

  <script type="text/javascript">
    $(document).ready(function () {
      //initialize the javascript
      App.init();
    });

  </script>
</body>

</html>