<div class="be-left-sidebar">
    <div class="left-sidebar-wrapper">
        <a href="#" class="left-sidebar-toggle">Project</a>
        <div class="left-sidebar-spacer">
            <div class="left-sidebar-scroll">
                <div class="left-sidebar-content">
                    <ul class="sidebar-elements">
                        <li class="divider">Menu</li>
                        <li>
                            <a href="/dashboard">
                                <i class="icon mdi mdi-home"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <li class="parent">
                            <a href="#">
                                <i class="icon mdi mdi-chart-donut"></i>
                                <span>Progress</span>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="/dashboard">Status Report</a>
                                </li>
                                <li>
                                    <a href="/dashboard">Charts</a>
                                </li>
                            </ul>
                        </li>
                        <li class="parent">
                            <a href="#">
                                <i class="icon mdi mdi-file-text"></i>
                                <span>Documents</span>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="/newdocument">Add Document</a>
                                </li>
                                <li>
                                    <a href="/drawinglist">Document list</a>
                                </li>
                                <li>
                                    <a href="/404.html">404 Error</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>